@import url(icons/material-design-iconic-font/css/materialdesignicons.min.css);

.btn-profileimage{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom:20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    max-width: 350px;
    user-select: none;
	width: 90px;
	height: 35px;
	vertical-align: middle;
    background: transparent;
    background-image: none;
  
	border : solid 1px;
	color : rgb(120, 137, 255);
	border-color: rgb(120, 137, 255);
	border-radius: 4px !important;
}

.btn-profileimage input{
	position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    /* -ms-filter: 'alpha(opacity=0)'; */
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

.addnew {
  text-align: center;
  padding: 20px;
  color: #000;
  font-weight: 600;
  height: 100px;
  line-height: 4;
  border-radius: 3px!important;
}

.btn-certfileupload {
  text-align: center;
  padding: 20px;
  color: #000;
  font-weight: 600;
  height: 100px;
  line-height: 4;
  width: 250px;
  border-radius: 3px!important;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.btn-logoupload{
  text-align: center;
  color: #000;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  width: 40%;
  border-radius: 3px!important;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  background: #f5f5f5;
  font-size: 14px;
}

.btn-logoupload input, .certfileinfobut input, .btn-certfileupload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  /* -ms-filter: 'alpha(opacity=0)'; */
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}



.certfileinfobut{
  background: none;
  height: 50px;
  border: none;
  padding: 0px;
  width: 30px;
}

.certfileinfobut:hover{
  background: none;
}

.certfileinfo {
  text-align: center;
  padding: 20px;
  color: black;
  font-weight: 300;
  height: 100px;
  line-height: 1;
  width: 250px;
  border: 1px solid #f5d7d1;
  border-radius: 3px!important;
  padding:8px;
  display: inline-block;
  margin-right: 10px;
}

.certfileinfo tr {
  height: 42px;
}

.certfileinfo a {
  height: 40px;
  width: 150px;
  word-break: break-word;
}

.certfileinfo td {
  cursor: pointer;
  color : black;
}
.certfileinfo img {
  cursor: pointer;
  width: 30px;
}

.mustbeoption{
	color:red;
}

.checkbox {
    padding-left: 20px; 
    margin-top: 5px;
    margin-bottom: 5px;
}
    .checkbox label {
      display: inline-block;
      position: relative;
      padding-left: 5px; 
      line-height: 16px;
    }
    .checkbox.small label {
      display: inline-block;
      position: relative;
      padding-left: 5px; 
      line-height: 12px;
      font-size:12px!important;
    }
    .checkbox.small label:before{
      content: "";
      display: inline-block;
      position: absolute;
      width: 13px;
      height: 13px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #7889FF;
      border-radius: 1px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
    }
    .checkbox label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #7889FF;
        border-radius: 1px;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
    }

    .checkbox.checkbox-success label::before {
        border: 1px solid #28c294;
    }

    .checkbox label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        line-height: 16px;
        color: #555555; 
    }
    .checkbox.small label::after {
      display: inline-block;
      position: absolute;
      width: 12px;
      height: 12px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      line-height: 16px;
      color: #555555; 
  }

    .checkbox input[type="checkbox"] {
        opacity: 0; 
    }
    .checkbox input[type="checkbox"]:focus + label::before {
        outline: thin dotted;
        /* by huapeng */
        outline: 0px auto -webkit-focus-ring-color;              
        outline-offset: -2px; 
    }
    .checkbox input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\f00c"; 
    }
    .checkbox.small input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      font-size: 8px!important;
      content: "\f00c";
      margin-top: -3px;
      margin-left: -21px;
    }
    .checkbox input[type="checkbox"]:disabled + label {
        opacity: 0.65; 
    }
    .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; 
    }
    .checkbox.checkbox-circle label::before {
        border-radius: 50%; 
    }
    .checkbox.checkbox-inline {
        margin-top: 0; 
    }
  
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #7889FF;
    border-color: #7889FF; }
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
  .checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
  .checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
  .checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #28c294;
    border-color: #28c294; }
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .radio {
    padding-left: 20px; }
    .radio label {
      display: inline-block;
      position: relative;
      padding-left: 5px; }
      .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out; }
      .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 11px;
        height: 11px;
        left: 3px;
        top: 3px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: #555555;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
    .radio input[type="radio"] {
      opacity: 0; }
      .radio input[type="radio"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px; }
      .radio input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1); }
      .radio input[type="radio"]:disabled + label {
        opacity: 0.65; }
        .radio input[type="radio"]:disabled + label::before {
          cursor: not-allowed; }
    .radio.radio-inline {
      margin-top: 0; }
  
  .radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
  .radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
  .radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }
  
  .radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
  .radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
  .radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }
  
  .radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
  .radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
  .radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }
  
  .radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
  .radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
  .radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }
  
  .radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
  .radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
  .radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }

.input-group {
    display:flex;
    height:40px;
}

.input-group-addon{
    height:48px!important;
    width:50px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #A6B1BE;
    border-left: none;
    padding: 7px;
}
.input-group-addon:hover{
    cursor: pointer;
}

.profile-btn
{
    background-color: #28C294;
    width: 200px;
    height: 70px;
    float:right;
    font-size: 20px;
    font-weight: 1000;
    border-radius: 4px!important;
}



.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: solid #a6b1be 1px;
    border-radius: 4px;
    height: 50px;
    overflow-y: auto;
    cursor: text;
    margin-top:5px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #a6b1be 1px!important;
    outline: 0;
    /* height: 50px; */
    margin-top: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px!important;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 5px;
    height: 30px;
}



.richText .richText-editor {
  height: 150px;
}

.websiteurl select {
  position: absolute;
  width: 80px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 10px;
}

.websiteurl select::-ms-expand {
  display: none;
}

.websiteurl input {
  display: inline-block;
  padding-left: 100px;
}

.subpersonal
{
	font-family: 'quantico';
	font-size:20px;
}

.skillset
{
  border:1px solid #A6B1BE;
  position:relative;
}
.skillset hr
{
  fill: #A6B1BE;
  margin: 20px;
}
.skillset input
{
  border:none!important;
  background: none!important;    
  position: absolute;
  width:100%;
}

.skillset textarea
{
  border:none!important;
  background: none!important;    
}

.skillset input:hover,.skillset textarea:hover,.skillset input:focus,.skillset textarea:focus
{
  border:none!important;
  background: none!important;
}

.skillset.removebtn{
  float:right;
  color:#E86850;
  margin-top:15px;
  margin-right:20px;
  margin-bottom:3px;
  font-size:12px;
  border:none!important;
  cursor:pointer;
  background:none;
  padding:4px;
}


.skillset.savebtn{
  float:right;
  color:#28C294;
  margin-top:15px;
  margin-right:20px;
  margin-bottom:3px;
  font-size:12px;
  border:none!important;
  cursor:pointer;
  background:none;
  padding:4px;
}

.submit{
  background-color: #7889ff;
}

.removepanelbtn{
  float:right;
  color:#E86850;
  /* margin-top:15px; */
  margin-right:20px;
  margin-bottom:3px;
  font-size:16px;
  border:none!important;
  cursor:pointer;
  background:none;
  padding:4px;
}

.removepanelbtn:hover{
  background:none;
}

.editpanelbtn{
  float:right;
  color:#28C294;
  /* margin-top:15px; */
  margin-right:20px;
  margin-bottom:3px;
  font-size:16px;
  border:none!important;
  cursor:pointer;
  background:none;
  padding:4px;
}

.editpanelbtn:hover{
  background:none;
}

.tagsinputtoggle{
  display:inline-block;
  cursor:pointer;
}

.locationdropdown{
  height:180px; 
  overflow-y:auto; 
  border:1px solid #A6B1BE;
  position: absolute;
  background: white;
  width:100%;
  z-index:99;
  display:none;
}

.ico-03 {
  border-radius: 3px!important;
}

.color-green1 {
  background-color: #28C294;
}







/* from public_layout.blade.php */
.iti-flag {background-image: url("/js/countrydiallist/img/flags.png");}
        
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti-flag {background-image: url("/js/countrydiallist/img/flags@2x.png");}
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

.keep {
    background-color: brown !important;
}


.dropdown-menu2 {
    background: #6678f5;
    border: 1px solid #6678f5;
    border-radius: 5px;
}

.dropdown-menu2 a:link, .dropdown-menu2 a:visited {
    display: block;
    padding: 10px 10px;
    font-weight: normal;
}

.dropdown-menu3 {
  background: #28c294;
  border: 1px solid #28c294;
  border-radius: 5px;
}

.dropdown-menu3 a:link, .dropdown-menu3 a:visited {
  display: block;
  padding: 10px 10px;
  font-weight: normal;
}

.dropdown-item1 {
    border-top: 1px solid #FFF;
}

.dropdown-menu2 {
    right: 0px !important;
    left: auto;
}

.dropdown-menu3 {
  right: 0px !important;
  left: auto;
}

.backg {
  background: #28c294;
}

@media only screen and (max-width: 500px) {
    #navigation ul.float-right a {
        margin: 20px 20px 20px 0;
    }

    .dropdown-menu2 {
        min-width: auto !important;
    }

    .dropdown-menu2 a:link {
        margin: 5px !important;
        background: none;
        display: block !important;
    }

}

.inputWithIcon input[type="text"] {
    padding-left: 40px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    float: right;
    right: 0;
    top: 4px;
    padding: 9px 1px;
    color: #fff;
    transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
    color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

.keep {
    background-color: brown !important;
}


.dropdown-menu2 {
    background: #6678f5;
    border: 1px solid #6678f5;
    border-radius: 5px;
}

.dropdown-menu2 a:link, .dropdown-menu2 a:visited {
    display: block;
    padding: 10px 10px;
    font-weight: normal;
}

.dropdown-item1 {
    border-top: 1px solid #FFF;
}

.dropdown-menu2 {
    right: 0px !important;
    left: auto;
}

@media only screen and (max-width: 500px) {
    #navigation ul.float-right a {
        margin: 20px 20px 20px 0;
    }

    .dropdown-menu2 {
        min-width: auto !important;
    }

    .dropdown-menu2 a:link {
        margin: 5px !important;
        background: none;
        display: block !important;
    }

}
@media(min-width:960px){
    .search-list input.ico-01 {
        width: 50%;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 40px;
    }
    .search-list .ico-02 {
        width: 30%;
    }
}

.searchForm input {
  background: #1d1d22 !important;
  border: 0;
  padding: 13px 16px;
  padding-right: 30px;
  border-radius: 3px !important;
  width: 300px;
  font-size: 13px;
  margin-top: -2px;
}
form.searchForm {
  position: relative;
}
form.searchForm .btn-link {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  color: #fff;
}
.searchForm input:focus {
border: 0;
}

.searchlocationdropdown{
  height:500px; 
  overflow-y:auto; 
  /* border:1px solid #A6B1BE; */
  position: absolute;
  /* background: white; */
  width:100%;
  z-index:99;
  display:none;
}
.searchlocationdropdown ul{
  padding-left:0px;
}

.searchlocationdropdown-item{
  padding-left:30px;
  min-height: 60px;
  background-color:white;
  border-radius: 5px;
  margin-top:4px;
  box-shadow: 2px 2px 5px grey;
  z-index: 10;
  position: relative;
}

.searchlocationdropdown-item-item{
  background-color:white;
  border-bottom: solid 2px rgb(215, 216, 224);
}

.searchlocationdropdown .collapse{
  background-color: white;
}

.searchlocationdropdown .collapse ul{
  padding-left:30px;
  padding-right:30px;
}

.searchlocationdropdown-item-item input{
  height:0px;
}

.searchlocationdropdown-item-item div{
  height:50px;
}

.searchlocationdropdown-item-item label{
  line-height:50px;
}

.searchlocationdropdown-item-item label:before{
  margin-top:16px;
}

.searchlocationdropdown-item-item label:after{
  margin-top:16px;
}

.fw-900{
  font-weight: 900;
}

.fw-1800{
  font-weight: 1800;
}

.editbut{
  color: black;
  border: 1px solid #7889ff;
  width: 100px;
  font-size: 16px!important;
  line-height: 11px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  font-weight: 100;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background-color: #eff1fc;
}

.editbut i{
  color: #7889FF;
  /* vertical-align: middle; */
  margin-right: 10px;
  margin-top: -4px;
}

.cvbut{
  color: black;
  border: 1px solid #87dcc3;
  width: 190px;
  font-size: 16px!important;
  line-height: 11px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  font-weight: 100;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background-color: #e7f6f2;
}

.cvbut i{
  color: #28c294;
  /* vertical-align: middle; */
  margin-right: 10px;
  margin-top: -4px;
}

.mclrb{
  color: #7889ff;
}

.certbut{
  color: black;
  border: 1px solid #f4d2ca;
  /* width: 120px; */
  font-size: 16px!important;
  line-height: 11px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  font-weight: 100;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background-color: #faedea;
  display:inline-block;
  width: auto !important;
  margin-right: 15px;
}

.certbut i{
  color: #b3404a;
  /* vertical-align: middle; */
  margin-right: 10px;
  margin-top: -4px;
}

.right-dot-line {
  position: relative;
  margin-bottom: 10px;
}
.right-dot-line::before {
  content: '';
  position: absolute;
  right: 6px;
  top: 0;
  bottom: 10px;
  border-right: 3px solid #dadeeb;
}
.right-dot-line::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
  background: #a6b1be;
  border-radius: 50%;
}

.skilldiv{
  color: black;
  border: 1px solid #a6b1be;
  /* width: 120px; */
  font-size: 16px!important;
  line-height: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  font-weight: 100;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background: none;
  display: inline-block;
  width: auto !important;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom:5px;
}

.skilldiv1{
  color: black;
  border: 1px solid #a6b1be;
  /* width: 120px; */
  font-size: 14px!important;
  line-height: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-weight: 100;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background: none;
  display: inline-block;
  width: auto !important;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom:5px;
}

.specialboard{
  border: 3px solid #e86850;
  border-radius: 4px;
  background-color: #fbf5f4;
  height: 400px;
  padding-left:20px;
  padding-right:20px;
  text-align:justify;
  position:relative;
}

.specialboard img{
  width: 55%!important;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  display: block;
}

.specialboard::before {
  content: '';
  position: absolute;
  right: 10%;
  bottom: -25px;
  left: 10%;
  /* border-bottom: 50px solid #e86850; */
  height:50px;
  background:#e86850;
  border-radius: 3px;
}

.specialboard::after {
  content: 'NEED A JOB URGENTLY?';
  position: absolute;
  bottom: -25px;
  left: 11%;
  width: 78%!important;
  line-height: 50px;
  color: white;
  font-weight: BOLD;
  text-align:center;
  font-size:9px;
  white-space: nowrap;
}

.speicialboardbottom{
  width:90%;
  text-align: justify;
  color: white;
  background-color: #e86850;
  border-radius: 3px;
  height:50px;
}

.hint{
  opacity: 0.4;
}


.specialboard1{
  border: 3px solid #8EBFFD;
  border-radius: 4px;
  background-color: #F4F9FF;
  height: 310px;
  padding-left:10px;
  padding-right:10px;
  text-align:justify;
  position:relative;
}

.specialboard1 img{
  width: 55%!important;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  display:block;
}

.specialboard1::before {
  content: '';
  position: absolute;
  right: 10%;
  bottom: -25px;
  left: 10%;
  height:50px;
  background:#2784FC;
  border-radius: 3px;
}

.specialboard1::after {
  content: 'LIFT JOB POSTS';
  position: absolute;
  bottom: -25px;
  left: 11%;
  width: 78%!important;
  line-height: 50px;
  color: white;
  font-weight: BOLD;
  text-align:center;
  font-size:12px;
  white-space: nowrap;
}

.specialboard1 a{
  color:#2784FC;
}


.pagetitle1{
  font-family: 'quantico';
  font-size: 36px;
  color:#43caa1;
}


.chk_btn {
	margin: 0 0 20px 0;
	padding: 5px 8px;
	display: block;
	text-align: center;
	background: #FFF;
  color: #424242;
	border: 1px solid #7889ff;
  border-radius: 1px;
	width: 100%;
}

.chk_btn_checked {
	background: #7889ff;
	color: #FFF;
}


/* balloon bar */
.arrow_box {
	position: relative;
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(130,140,150,.2);
  box-shadow: 2px 2px 5px rgba(10,10,10,0.1);
}
.arrow_box:before {
  content: "";
  position: absolute;
  width: 10%;
  height: 10%;
  background: white;
  transform: rotate(-45deg); /* Prefixes... */
  top: -5%;
  right: 10%;
  box-shadow: 1px -1px 1px 0 rgba(10, 10, 10, 0.1);
}

.arrow_box1 {
	position: relative;
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(130,140,150,.2);
  box-shadow: 2px 2px 5px rgba(10,10,10,0.1);
}
.arrow_box1:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  transform: rotate(-45deg); /* Prefixes... */
  top: -5px;
  right: 30px;
  box-shadow: 1px -1px 1px 0 rgba(10, 10, 10, 0.1);
}
.arrow_popup {
  position: absolute;
  z-index: 10;
  right: 30px;
  top: 60px;
  display:none;
}

.pagination>li span, .pagination>li a{
  margin-left:3px;
  margin-right:3px;
  border-radius:4px;
  color:black;
  width:48px;
  height:48px;
  line-height:34px;
  font-weight:bold;
  border : 1px solid #D8D8D8;
}

.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
  background:none;
  border-color:#DDDDDD;
  color:#28c294;
}

.lift{
  border: solid 1px #4092FD;
  padding: 4px 13px;
  border-radius: 4px;
  color: #4092FD;
  background: #f4f9ff;
  cursor: pointer;
}

.lift i{
  font-size: 20px;
  vertical-align: middle;
  margin-right:5px;
}


.searchbox1{
  position: relative;
  width:100%;
}
.searchbox1 input{
  background: #f0f2f4;
  width:100%;
  border:none;
  border-radius: 4px!important;
}

.searchbox1 a{
  position: absolute;
  right: 15px;
  top: 8px;
  color:#E1e1e1;
}

.locationlist{
  max-height:400px;
  overflow-y:auto;
}

.locationlist ul{
  padding-left:0;
}

.locationlist ul li ul{
  padding-left:15px;
}

.joblistitem{
  background:#fff;
  padding-left:0px;
  padding-right:0px;
  box-shadow:-7px 8px 55px -5px rgba(0,0,0,0.2);
  border-radius:4px!important;
  margin-bottom:20px; 
  margin-top:30px;
  height:260px;
  position:relative;
}

.joblistitem-logo{
  position: absolute;;
  top:0px;
  left:0px;
  height:260px;
  width:260px;
}

.joblistitem-logo img{
  height:100%;
  width:100%;
  border-right: solid 3px #28c294;
  border-radius: 4px 0 0 4px!important;
}

.joblistitem-description{
  margin-left:260px;
  padding:40px 40px;
  height:260px;
}

.joblistitem-description a{
  color:#7889FF;
  font-weight:bold;
  font-size:22px;
}

.joblistitem-companyname{
  font-size:20px;
}

.featured{
  border-radius: 8px;
  border: 2px solid #f8c40a;
  padding-left:10px;
  padding-top:6px;
  padding-bottom:6px;
  padding-right:40px;
  position:relative;
  max-width:100%;
}

.featured:before{
  position: absolute;
  right: 15px;
  top: -6px;
  content: '\f02e';
  color: #f8c40a;
  font-size: 23px;
  font-family: FontAwesome;
}

.joblistitem-date{
  color:#5861a2;
  font-size:16px;
  float:right;
}

.jobadver{
  height:390px;
  padding-right:80px;
}

.img-mythumb{
  box-shadow: -7px 8px 55px -5px rgba(0,0,0,0.35);
  position: absolute;
  top:60px;
  width: 270px;
  height: 270px;
  z-index:10;
}

.jobadver-panel {
  position:relative;
  height: 100%;
  padding-left:200px;
  padding-top:40px;
  padding-bottom:40px;
  padding-right:80px;
  /* border: 2px solid; */
  margin-left: 135px;
  -webkit-box-shadow: -7px 8px 55px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -7px 8px 55px -5px rgba(0, 0, 0, 0.35);
  box-shadow: -7px 8px 55px -5px rgba(0, 0, 0, 0.35);
}

.uihed{
  position: relative;
}

.uihed:before{
  position: absolute;
  right:0;
  top:0;
  content:'\f142';
  font-family:'FontAwesome';
  color:#a6b1be;
  font-size:24px;
}

.job-apply{
  position: absolute;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  background: #28c294;
  color: #fff;
  max-width: 50%;
  height:48px;
  bottom:48px;
}

.job-posted-date{
  position: absolute;
  color: #acb6c2;
  width: 100px;
  right:100px;
  height:48px;
  bottom:48px;
  text-align: justify;
}

.jobfind2{
  font-size:20px;
}

.appliedbox{
  padding-left:30px;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:15px;
  border-radius: 4px;
  color:white;
  font-size:16px;
  position: relative;
  background:#7889FF;
}

.appliedbox:before{
  position: absolute;
  left:5px;
  top:5px;
  font-family: 'FontAwesome';
  content:'\f00c';
}

.candbox{
  border-radius: 5px;
  border:solid 1px #f1f1f1;
  box-shadow: 2px 2px 5px rgba(200,200,200,.5);
  background:#fafafa;
  margin-left: 0;
  margin-right:20px;
  margin-bottom:20px;
  height:80px;
}

.candbox-select{
  border: 2px solid #8f9cf5;
  background:#fff;
}

.resumepanel{
  border:solid 1px #f1f1f1;
  border-radius:5px;
  box-shadow: 2px 2px 5px rgba(200,200,200,.5);
  padding:0;
}

.PosthedSmall {
	font-family: 'Quantico';
	font-size:18px;
	color: grey;
  margin-bottom:10px;
  padding-left:30px;
}

.fieldcolor{
  color:#636a95
}

.logo2 {
	margin: 0;
	padding: 0;
  width: 100%;
  height:100%;
}

.logo2 img {
	margin: 0;
	padding: 0;
  /* width: 100%; */
  height:100%;
}

.logobox{
  padding-right:0;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:auto;
  margin-bottom:auto;
  height:100%;
  display:inline-block;
}

.appinfobox{
  padding-top:10px;
  padding-bottom:10px;
  height:100%;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.appinfobox p{
  margin:0;
}

.acceptbtn{
  cursor: pointer;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  position: relative;
  color: #fff;
  background-color: #28c294;
  border: none;
  border-radius: 4px;
  padding-top:5px;
  padding-bottom:5px;
}

.rejectbtn{
  cursor: pointer;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  position: relative;
  color: #fff;
  background-color: #E86850;
  border: none;
  border-radius: 4px;
  padding-top:5px;
  padding-bottom:5px;
}

.datetimevaluebox{
  color:#7889FF;
  font-size:20px;
  padding:3px 3px;
  border:solid 1px #a6b1be;
  border-radius:4px;
  margin-right:2px;
}

.chk_btn1 {
	margin: 0 0 20px 0;
	padding: 5px 8px;
	display: inline-block;
	text-align: center;
	background: #FFF;
  color: #424242;
	border: 1px solid #7889ff;
  border-radius: 4px;
}

.chk_btn1_checked {
	background: #7889ff;
	color: #FFF;
}


.arrow_box2 {
  position: relative;
  background: white;
  border-radius: 3px;
  border: 2px solid #7889FF;
  max-width: 50%;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.arrow_box2:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  top: 10px;
  transform: rotate(-45deg);
  right: -6px;
  border-right: 2px solid #7889FF;
  border-bottom: 2px solid #7889FF;
}

.arrow_box3{
  position: relative;
  background: white;
  border-radius: 3px;
  max-width:50%;
  display:inline-block;
  border: 2px solid rgba(130,140,150,.2);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.arrow_box3:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  top: 10px;
  left: -6px;
  transform: rotate(-45deg); /* Prefixes... */
  border-left: 2px solid rgba(130,140,150,.2);
  border-top: 2px solid rgba(130,140,150,.2);
}

.crystalinput{
  position:relative;
}
.crystalinput input{
  border:none;
  background:none;
  width:95%;
  height:50px!important;
}

.crystalinput input:focus{
  border:none;
}

.crystalinput a{
  line-height:50px;
  position: absolute;
  top:0;
  right:10px;
  color:grey;
}

.chartbox{
  box-shadow: 2px 2px 5px rgba(10,10,10,0.1);
}


.candbox-select i{
  color:#7889ff;
}

.unreadcnt{
  color:#e86850;
  width:30px;
  height:30px;
  position:relative;
  text-align:center;
  font-size:18px;
}

.unreadcnt:before{
  content:'';
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  border:2px solid #e86850;
  border-radius:50%;
  /* color:#e86850; */
}

.notificationrow{
  box-shadow: -7px 8px 55px -5px rgba(0,0,0,0.35);
  margin-bottom: 20px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
}

.viewbtn3{
  background:#F8F9FF;
  border:2px solid #BBC4FF;
  color:#7889FF;
  border-radius:4px;
  padding-top:3px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:3px;
}

.viewbtn4{
  background:#fefefe;
  border:1px solid #a5b0bd;
  color:#3a3a45;
  border-radius:4px;
  padding-top:3px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:3px;
}

.postjob{
  width: 170px;
  height: 40px;
  background: #E86850;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;	border-radius: 3px !important;
}

.postjob:disabled{
  width: 170px;
  height: 40px;
  background: #A6B1BE;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #3A3A45;	
  border-radius: 3px !important;
}

.minheight {
  min-height:calc(100vh - 78px - 45px);
  padding: 0.1px 0;
}

.job-closed{
  position: absolute;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  background: #E86850;
  color: #fff;
  max-width: 40%;
  bottom:48px;
}